body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    border-color: #5f9341;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    border-style: solid;
    padding: 20px;
}

input:focus {
    background-color: #60b1318f;
}

button {
    background-color:#60b131;
    margin-top: 5px;
    padding: 20px 40px;
    border-radius: 2px;
    font-weight: bolder;
    color: white;
    font-size:medium;
    border: 3px solid #60b131;
}

button:hover {
    background-color: #60b131d2;
}

button:active {
    background-color: #60b131ec;
    
}

ul {
    list-style: none;
    padding-left: 0%;
    margin-top: 20px;
}

li {
    font-size: medium;
    font-weight: bolder;
    margin-top: 4px;
}

a {
    color:#60b131
}

#delete-btn {
    background-color: white;
    color: #60b131;

}

#delete-btn:hover {
    background-color: rgba(128, 128, 128, 0.192)
}